{% load static %}
<div class="nav-header">
    <a href="index.html" class="brand-logo">
        <img src="{% static 'landing_page/assets/img/clearvisio.png' %}" class="logo-abbr img-fluid" width="80" height="80" >

        <div class="brand-title">
            <h2 class="fs-3">Clear Visio</h2>
            <span class="brand-sub-title">Your Admin Page</span>
        </div>
    </a>
    <div class="nav-control">
        <div class="hamburger">
            <span class="line"></span><span class="line"></span><span class="line"></span>
        </div>
    </div>
</div>